<a href="https://colab.research.google.com/github/rajivreddy219/ai-projects/blob/main/Text-Classification/Spam_ham.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%capture
!pip install fastai -U

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from fastai.text.all import *
import pandas as pd

In [ ]:
path = '/content/drive/MyDrive/my-datasets/text-classification/spam.csv'
df = pd.read_csv(path, encoding='latin-1')
df = df[['v1', 'v2']]
df.head()

     v1                                                                                                                                                           v2
0   ham                                              Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
1   ham                                                                                                                                Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3   ham                                                                                                            U dun say so early hor... U c already then say...
4   ham                                                                                                Nah I don't think he goes to usf, he lives around here though

In [ ]:
dls = TextDataLoaders.from_df(df, text_col=1, label_col=0)
dls.show_batch(max_n=3)

/usr/local/lib/python3.6/dist-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [ ]:
learn = text_classifier_learner(dls, AWD_LSTM, drop_mult=0.5, seq_len=72, metrics=accuracy)

In [ ]:
learn.fit_one_cycle(1, 2e-2)

In [ ]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(1e-2/(2**4), 1e-2))

In [ ]:
learn.freeze_to(-3)
learn.fit_one_cycle(1, slice(5e-3/(2**4),5e-3))

In [ ]:
learn.unfreeze()
learn.fit_one_cycle(2, slice(1e-3/(2**4),1e-3))

In [ ]:
text = 'Nah I don\'t think he goes to usf, he lives around here though'
pred, labelid, loss = learn.predict(item=text)
pred, labelid

('ham', tensor(0))